.writer_pane {
    -fx-background-image: url("../img/bg.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-color:  transparent;
}
.all_button {
    -fx-border-color: #00ffea;
    -fx-text-fill: black;
    -fx-background-color: #00ffea;
}