.writer_pane {
    -fx-background-image: url("../img/bg.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-color:  transparent;
}
.write_button {
    -fx-border-color: #ff6f00;
    -fx-text-fill: #00ffea;
    -fx-background-color: #ff6f00
}