.writer_pane {
    -fx-background-image: url("../img/background.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-color:  transparent;
}
.all_button {
    -fx-border-color: #00ffea;
    -fx-text-fill: black;
    -fx-background-color: #00ffea;
}
.default_background_img {
    -fx-background-color: white;
    -fx-border-width: 0px;
    -fx-background-image: url("../img/background.png");
    -fx-background-position: center center;
    -fx-background-repeat: repeat;
}

.default_background {
    -fx-background-color: white;
    -fx-border-width: 0px;
}

/*.tree-view {*/
/*    -fx-background-image: url("../img/background.png");*/
/*    -fx-background-position: center center;*/
/*    -fx-background-repeat: repeat;*/
/*}*/